@font-face {
	font-family: 'DS-Digital-Normal';
	src: 	url('../fonts/ds-digi-webfont.eot');
	src:	url('../fonts/ds-digi-webfont.svg') format('svg'),
				url('../fonts/ds-digi-webfont.woff2') format('woff2'),
				url('../fonts/ds-digi-webfont.woff') format('woff'),
				url('../fonts/ds-digi-webfont.ttf') format('truetype');
}