.knob_row {
	width: 96.656534954%;
	padding-top: 20px;
	height: auto;
	display: flex;
	min-height: 104px;
	justify-content: space-around;
	
	img {
		margin: 0;
		padding: 0;
		height: 85px;
		width: 85px;
	}

}