.knob_row {	
	padding-top: 20px;
	height: auto;
	display: block;
	min-height: 104px;
	img {
		margin: 0;
		padding: 0;
		height: 85px;
		width: 85px;
		float: left;
		margin-right: 10.53698075%;
	}
	img:first-child {
		margin-left: 5.4711246201%;
	}
	img:last-child {
		margin-right: 8.7132725431%;
	}
}